/*
BEM tips

block name simple-name
 element name simple-name__element
 elements can be inside others elements

mixins.  we use them for outer geometry
    title - block
    title section__title - mixin

modificators. we use them to modify look
    title - block
    title--red - modificator


MF
1401
1201
992
768
576
461

*/

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 500;
    font-style: normal;
    background: #F3F3F3;
}

.container {
    max-width: 1076px;
    min-width: 375px;
    margin: 0 auto;
}

.sub-header {
    padding-top: 98px;
}

.title {
    display: flex;
    flex-direction: column;
}

.title > h1 {
    width: 100%;
    padding: 0 53px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
}

.title > p {
    width: 100%;
    padding: 10px 60px 0 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}


.sub-header__stat-list {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
}

.sub-header__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
}

.sub-header__list-wrap {
    width: 100%;
    margin: 15px 0;
}

.sub-header__list-item > h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.sub-header__list-item > p {
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    color: #737373;
}

.sub-header__list-item::before {
    padding-top: 30px;
    content: url("../img/stats_icon-1.svg");
}

.item-customers::before {
    content: url("../img/stats_icon-2.svg");
}

.item-winning::before {
    content: url("../img/stats_icon-3.svg");
}

.item-cases::before {
    content: url("../img/stats_icon-4.svg");
}

.practice {
    padding-top: 83px;
}

.practice__list {
    padding: 50px 15px 0 15px;
    display: flex;
    flex-wrap: wrap;
}

.practice__list-wrap {
    width: 100%;
    padding: 25px 0;
}

.practice__list-item {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
}

.practice__list-content {
    padding: 30px 30px 30px 30px;
}

.practice__list-content > h2 {
    padding-bottom: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.practice__list-content > p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

@media screen and (min-width: 576px) {
    .sub-header__list-wrap {
        width: 50%;
        padding: 0 15px;
    }

    .practice__list-wrap {
        width: 50%;
        padding: 0 15px;
        margin: 15px 0;
    }
}

@media screen and (min-width: 992px) {

    .title > p {
        padding-left: 177px;
        padding-right: 177px;
    }

    .sub-header {
        background: linear-gradient(180deg, #FAFAFA 0%, #E2E2E2 100%);
    }

    .sub-header__stat-list {
        padding-bottom: 30px;
    }


    .sub-header__list-wrap {
        width: 25%;
        margin: 50px 0;
    }

    .practice__list-wrap {

        width: 25%;
    }

    .practice__list-item {
        height: 100%;
    }

}







